@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Sorts+Mill+Goudy:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;

    body {
        z-index: -10;
        overflow-x: hidden;
        box-sizing: border-box;
        background-color: w;

        header {
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            background-color: white;
            /* padding: 0 6.7% 0 5.5%; */
            box-sizing: border-box;
            background-color: white;

            min-height: 5rem;
            max-height: 500px;
            padding: 0 5%;
            z-index: 10;
            display: grid;
            place-items: center;



            nav {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                >div {
                    /* margin: 0.2rem 0; */
                    align-items: center;
                    align-self: center;
                }

                .logo-container {
                    max-width: 100%;
                    min-width: 15%;
                    flex: 1 16em;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    font-size: 18px;

                    .logo {
                        display: flex;
                        align-items: center;

                        .icon {
                            width: 2.777em;
                            aspect-ratio: 1/1;
                            margin-right: 0.277em;
                            position: relative;
                            align-items: center;

                            .line {
                                position: absolute;
                                background-color: #00b289;
                                height: 0.277em;
                                width: 1.944em;
                                bottom: 0;
                            }

                            .line-1 {
                                width: 1.71em;
                                bottom: 0.6em;
                                right: 0.555em;
                                border-radius: 0 0 2em 5.555em;
                                display: none;
                            }

                            .line-2 {
                                width: 1.74em;
                                bottom: 1.32em;
                                right: -0.29em;
                                border-radius: 5.555em 2.777em 0;
                                transform: rotate(90deg);
                                border-radius: 2.777em 1em 0 0;
                                display: none;
                            }

                            .line-3 {
                                top: 0.321em;
                                right: 0.61em;
                                width: 1.2em;
                                border-radius: 0 2.777em 0 0;
                                z-index: 15;
                                display: none;
                            }


                            .line-4 {
                                width: 1.3em;
                                transform: rotate(90deg);
                                top: 0.9em;
                                left: 0.459em;
                                z-index: 10;
                                /* border-top: 0.12em solid white;
                                border-bottom: 0.12em solid white; */
                                box-shadow: 0 0.1em 0 #fff, 0 -0.1em 0 #fff;
                                border-radius: 0 0 0.3em 0;

                            }

                            .line-5 {
                                width: 1.2777em;
                                transform: rotate(90deg);
                                bottom: 1.111em;
                                left: 0;
                                border-radius: 0 0 5.555em 0;
                                display: none;
                            }

                            .line-6 {
                                width: 1.29em;
                                left: 0.51em;
                                top: 0.8333em;
                                border-radius: 0 0.2em 0 0;
                            }

                            .line-7 {
                                z-index: 20;
                                width: 0.826em;
                                left: 0.9698em;
                                bottom: 1.059em;
                                border-radius: 0 0 0 2.777em;
                            }

                            .line-8 {
                                width: 0.6em;
                                transform: rotate(90deg);
                                top: 1.15em;
                                right: 0.82em;
                                border-radius: 0.05em 0 0 0;
                            }

                            .border-1 {
                                position: absolute;
                                border-top: 0.277em solid #00b289;
                                border-right: 0.277em solid #00b289;
                                border-radius: 0 0.5em 0.1em;
                                z-index: 10;
                                height: 1.511em;
                                width: 0.975em;
                                top: 0.386em;
                                right: 0.557em;
                            }

                            .border-2 {
                                position: absolute;
                                border-bottom: 0.277em solid #00b289;
                                border-left: 0.277em solid #00b289;
                                border-radius: 0 0.5em 0.1em;
                                z-index: 10;
                                height: 0.98em;
                                width: 1.435em;
                                bottom: 0.596em;
                                left: 0.509em;
                            }

                        }

                        .logotype {
                            font-size: 1.777em;
                            color: #00b289;
                            font-weight: 1000;
                            letter-spacing: 0.111em;
                            font-family: "Sorts Mill Goudy", serif;
                        }
                    }
                }

                .nav-main {
                    display: flex;
                    align-items: center;
                    flex: 1 1 300px;
                    justify-content: center;
                    min-width: 30%;
                    max-width: 100%;
                    color: rgba(0, 0, 0, 0.704);
                    flex-wrap: wrap;




                    a {
                        flex: 1 1 80px;
                        cursor: pointer;
                        margin-left: 5%;
                        min-width: 50px;
                        max-width: 100%;
                        display: flex;
                        margin-top: 10px;


                        ion-icon {
                            transform: translate(8px, 2px);
                            font-size: 18px;
                            min-width: 18px;
                        }
                    }

                    .element-1,
                    .element-3 {
                        margin-right: 1%;
                    }

                    .element-1:hover,
                    .element-2:hover {
                        color: black;
                    }

                }

                .buttons-container {
                    min-width: 20%;
                    max-width: 100%;
                    flex: 1 1 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    margin-left: 7%;

                    button {
                        border: none;
                        background-color: white;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        height: 2.5rem;
                        border-radius: 5px;
                        transition: 100ms;
                        margin: 0.25rem;
                    }

                    .element-1 {
                        border: 1px solid #00b289;
                        color: #00b289;
                        padding: 0 7%;
                        min-width: 75px;
                        max-width: 100%;
                    }

                    .element-1:hover {
                        background-color: #00b289;
                        color: white;

                    }

                    .element-2 {
                        color: white;
                        background-color: #00b289;
                        padding: 0 8%;
                        min-width: 100px;
                        max-width: 100%;
                    }

                    .element-2:hover {
                        background-color: #129274;
                    }
                }
            }
        }

        main {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            z-index: 0;
            padding-bottom: 50px;


            .background {
                position: absolute;
                width: 100%;
                z-index: -10;
                overflow-x: hidden;
                box-sizing: border-box;
                max-width: 100%;
                background-color: white;

                .rotate-square {
                    max-width: 100%;
                    width: 100%;
                    height: 1000px;
                    background-color: rgba(47, 217, 255, 0.099);
                    transform: rotate(-25deg) translateX(35%) translateY(-10%);
                }
            }

            .main {
                width: 90%;
                margin: 0 5%;
                padding: 180px 0 0 0;
                display: flex;
                /* overflow-x: hidden; */
                flex-flow: column;
                align-items: center;

                .main-header {
                    width: 100%;
                    display: flex;
                    align-items: end;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    margin: 0 auto;
                    justify-content: center;

                    h1 {
                        font-size: 2rem;
                        color: hsla(0, 0%, 0%, 0.69);
                        font-weight: 600;
                        flex: 1 1 1fr;
                        min-width: 30%;
                        max-width: 100%;
                        margin-right: 5%;
                        text-align: center;
                        font-family: 'Sorts Mill Goudy';
                    }

                    .container {
                        flex: 1 1 1fr;
                        min-width: 30%;
                        max-width: 100%;
                        box-sizing: inherit;
                        margin-top: 4rem;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            /* flex-wrap: wrap; */
                            min-width: 285px;
                            max-width: 100%;
                            flex-wrap: wrap;

                            >span {
                                font-weight: 800;
                                color: rgba(0, 0, 0, 0.79);
                                letter-spacing: 1px;
                                font-size: 16px;
                                flex: 1 1 50px;
                                box-sizing: content-box;
                            }

                            .opacity {
                                opacity: 0.5;
                            }

                            .option-1 {
                                text-align: right;
                            }

                            .switch {
                                font-size: 15px;
                                position: relative;
                                display: inline-block;
                                /* width: 3.5em; */
                                height: 1.9em;
                                margin: 0 25px;
                                flex: 0 0 3.5em;

                                input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0;
                                }

                                .slider {
                                    position: absolute;
                                    cursor: pointer;
                                    background: #00b289;
                                    inset: 0;
                                    border-radius: 50px;
                                    overflow: hidden;
                                    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                                }

                                .slider::after {
                                    position: absolute;
                                    content: "";
                                    height: 1.7em;
                                    width: 1.7em;
                                    left: 0.15em;
                                    bottom: 0.1em;
                                    background-color: white;
                                    border-radius: inherit;
                                    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                                }

                                input:checked+.slider::after {
                                    transform: translateX(90%);
                                }
                            }

                            .option-2::after {
                                content: url(img/5e9d7255d3886a6103fb12a9_FREE-text.svg);
                                position: absolute;
                                transform: translate(-80%, -80%);
                            }
                        }

                    }
                }

                .main-main {
                    margin-top: 3.6rem;
                    width: 100%;
                    display: flex;
                    flex-flow: wrap;
                    /* box-sizing: border-box; */
                    overflow-x: hidden;
                    font-size: 16px;

                    .element {
                        display: flex;
                        flex-flow: column wrap;
                        flex: 1 1 17.25em;
                        max-width: 100%;
                        min-width: 30%;
                        height: 57rem;
                        padding: 4.65em 3.7%;
                        margin: 0 1% 100px;
                        box-sizing: border-box;
                        overflow: hidden;
                        background-color: #f2faff;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 4px;
                        color: rgba(0, 0, 0, 0.7);
                        position: relative;
                        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.03),
                            5px -5px 15px rgba(0, 0, 0, 0.09);

                        .tag {
                            height: 2.5em;
                            width: 20em;
                            display: grid;
                            place-items: center;
                            color: white;
                            background-color: #00b289;
                            font-weight: bold;
                            letter-spacing: 2px;
                            position: absolute;
                            top: 2.8em;
                            right: -6em;
                            transform: rotate(45deg);
                        }

                        .header {

                            margin-bottom: 2.5em;

                            p {
                                width: 90%;
                                font-size: 0.875em;
                                margin: 0.5em 0 2em 0;
                            }

                            .price {
                                font-size: 4em;
                                font-weight: bold;
                                border-bottom: 2px solid #00b289;
                                padding-left: 0.46875em;
                                display: grid;

                                .yearly {
                                    font-size: 0.234375em;
                                    font-weight: 500;
                                    /* transform: translateX(63%); */
                                    /* position: absolute; */
                                    padding-bottom: 0.03125em;
                                    place-self: end;
                                }

                                .price-content {
                                    span:last-child {
                                        font-size: 0.4em;
                                        font-weight: normal;
                                        transform: translate(0.75em, 1.45em);
                                        position: absolute;
                                        display: inline-block;
                                    }

                                }
                            }


                            .price::before {
                                content: "$";
                                font-size: 0.5em;
                                font-weight: normal;
                                position: absolute;
                                transform: translate(-0.78125em, 0.25em);
                            }
                        }

                        .element-main {
                            .item {
                                margin-bottom: 1.48em;
                                padding-left: 1.5em;
                                position: relative;
                                display: flex;


                                ion-icon {
                                    position: absolute;
                                    transform: translateX(-150%);
                                    color: #00b289;
                                    display: inline-block;
                                    align-self: center;
                                }

                            }
                        }


                        .element-footer {
                            width: 80%;
                            display: grid;
                            position: absolute;
                            bottom: 4.2em;
                            align-self: center;

                            .btn.trial {
                                width: 100%;
                                height: 5em;
                                color: white;
                                font-weight: bold;
                                background-color: #00b289;
                                border: none;
                                border-radius: 5px;
                                cursor: pointer;


                            }

                            .btn:hover {
                                background-color: #129274;
                                transition: 50ms;
                            }
                        }
                    }
                }

                .main-footer {
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.75);
                    /* box-sizing: border-box; */

                    >h2 {
                        margin-bottom: 40px;
                        align-self: center;
                        font-family: sans-serif;
                        font-style: italic;
                        font-weight: 300;
                    }

                    >div {

                        >.container {
                            padding: 2em 10% 2em 4.5%;
                            margin: 0 10px 0.5em;
                            background-color: white;
                            display: flex;
                            justify-content: space-between;
                            line-height: 1.4em;
                            color: rgba(0, 0, 0, 0.75);
                            box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);


                            .left {
                                margin-right: 1rem;

                                h3 {
                                    font-size: 1em;
                                }

                                p {
                                    font-size: 0.8em;
                                    font-weight: 100;
                                }

                                a {
                                    font-size: 0.6em;
                                    font-weight: 700;
                                    color: #00b289;
                                    display: flex;

                                    ion-icon {
                                        font-size: 1.3em;
                                        align-self: center;
                                        transform: translateX(10%);
                                        transition: all .5s;
                                    }


                                }

                                a:hover ion-icon {
                                    transform: translateX(50%);
                                }
                            }


                            .price {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 2.5em;
                                font-weight: 600;
                                flex-wrap: wrap;
                                width: 2em;

                                * {
                                    font-family: "Noto Sans Display", sans-serif !important;
                                }
                            }

                            .price::before {
                                content: "$";
                                font-size: 1.1em;

                            }

                            .price::after {
                                content: "/MONTH";
                                font-size: 0.25em;
                                font-weight: 500;
                                margin-top: 15px;
                                letter-spacing: 2px;

                            }

                            .free {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5em;
                                font-weight: 600;
                                width: 100px;
                            }
                        }
                    }
                }
            }

            .footer {

                margin: auto 13.5%;


                .card {
                    background-color: #f2faff;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 4em 5%;
                    margin-bottom: 7.5rem;
                    border-radius: 5px;


                    .left {
                        width: 60%;
                        font-size: 2.5em;
                    }

                    .rigth {
                        width: 30%;
                        display: flex;
                        justify-content: end;
                        align-items: center;


                        button {
                            border: none;
                            background-color: white;
                            font-size: 14px;
                            font-weight: normal;
                            text-transform: uppercase;
                            height: 3rem;
                            border-radius: 5px;
                            transition: 100ms;
                        }


                        .element-2 {
                            color: white;
                            background-color: #18987a;
                            padding: 0 10%;
                            min-width: 100px;
                            max-width: 100%;
                        }

                        .element-2:hover {
                            background-color: #00b289;
                        }
                    }
                }

                .footer-main {
                    width: 82%;
                    margin: 0 auto;

                    .footer-main_top {

                        h2 {
                            text-align: center;
                            font-size: 2rem;
                            color: #00b289;
                            margin-bottom: 1.5em;
                        }
                    }

                    .accordion {
                        font-size: 16px;

                        .container {
                            position: relative;
                            overflow: hidden;
                            height: 3em;


                            .label:hover {
                                color: #00b289;

                                ion-icon {
                                    color: rgba(0, 0, 0, 0.59);
                                }
                            }

                            .label {
                                font-size: 1.5em;
                                font-weight: bold;
                                margin: 0.8em 0;
                                color: rgba(0, 0, 0, 0.8);
                                position: relative;

                                ion-icon {
                                    position: absolute;
                                    right: 0;
                                    color: rgba(0, 0, 0, 0.59);
                                }
                            }

                            .content {
                                color: rgba(0, 0, 0, 0.8);
                                font-weight: 100;
                                width: 95%;
                                line-height: 1.8em;
                            }
                        }

                        .container.active {
                            height: auto;

                            ion-icon {
                                transform: rotate(180deg);
                                transition: 500ms;

                            }
                        }
                    }
                }
            }
        }
    }
}




@media screen and (max-width:330px) {}